* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  overflow: hidden;
}

.main_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1{
  font-size: 40px;
  margin-bottom: 10px;
}

.button_ {
  margin-top: 30px;
}

.button_ a {
  background: #402e7a;
  text-decoration: none;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 20px;
}

.yesBtn{
    position: absolute;
    right: 50%;
}

.noBtn{
    position: absolute;
    padding: 4rem;
    transition: all 0.5s ease;   
}

.request_{
  border-radius: 4px;
}