*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Playwrite FR Trad", cursive;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    overflow: hidden;
}

.yesReq{
    font-size: 30px;
    margin-bottom: 20px;
}

.image_{
    height: 500px;
    width: 500px;
    border-radius: 10px;;
}